$color1: black;
$color2: green;
$color3: red;

$fontsize: 16px;
 
@mixin makeSize($size){
    @if $size == 1{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    @if $size == 2{
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      
    }
    @if size == 3{
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px; 
        border-radius: 30px;
      
    }

}

@mixin makeRoundColor($color){
    @if $color == 1{
        border-color: $color1;
    }
    @if $color== 2{
        border-color: $color2;
    }
    @if $color == 3{
        border-color: $color3;
    }

}

/* For display default content */
.label-default {
    font-size: $fontsize;
    color: $color1;
    
   }
   .box-default {
        @include makeSize(1);
        @include makeRoundColor(1);
    
   }
   .box-default-medium {
        @include makeSize(2);
        @include makeRoundColor(1);
   }
   .box-default-large {
        @include makeSize(3);
        @include makeRoundColor(1);
   }
   /* For display success content */
   .label-success {
    font-size: $fontsize;
    color: $color2;
   }
   .box-success {
        @include makeSize(1);
       // @include makeRoundColor(2);
   }
   .box-success-medium {
        @include makeSize(2);
        @include makeRoundColor(2);
   }
   .box-success-large {
        @include makeSize(3);
        @include makeRoundColor(2);
}
   /* For display error content */
   .label-error {
    font-size: $fontsize;
    color: $color3;
   }
   .box-error {
        @include makeSize(1);
        @include makeRoundColor(3);
}
   
   .box-error-medium {
        @include makeSize(2);
        @include makeRoundColor(3);
}
   
   .box-error-large {
    @include makeSize(3);
    @include makeRoundColor(3);
   }
   