/* For display default content */
/* line 42, ../sass/exam_4.scss */
.label-default {
  font-size: 16px;
  color: black;
}

/* line 47, ../sass/exam_4.scss */
.box-default {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: black;
}

/* line 52, ../sass/exam_4.scss */
.box-default-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: black;
}

/* line 56, ../sass/exam_4.scss */
.box-default-large {
  border-color: black;
}

/* For display success content */
/* line 61, ../sass/exam_4.scss */
.label-success {
  font-size: 16px;
  color: green;
}

/* line 65, ../sass/exam_4.scss */
.box-success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 69, ../sass/exam_4.scss */
.box-success-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: green;
}

/* line 73, ../sass/exam_4.scss */
.box-success-large {
  border-color: green;
}

/* For display error content */
/* line 78, ../sass/exam_4.scss */
.label-error {
  font-size: 16px;
  color: red;
}

/* line 82, ../sass/exam_4.scss */
.box-error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: red;
}

/* line 87, ../sass/exam_4.scss */
.box-error-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: red;
}

/* line 92, ../sass/exam_4.scss */
.box-error-large {
  border-color: red;
}
